.venv/
.env
__pycache__/
*.pyc
.DS_Store
mlruns/
mlflow.db
mlflow-data/
data/raw/*.csv
data/raw/*.zip
data/raw/enterprise-attack.json
data/processed/*.csv
data/processed/chromadb/
src/detection/models/*.pkl
src/detection/models/*.pt
src/detection/models/*.npy
notebooks/*.png
.idea/
*.egg-info/